
<h2 class="text-center">Title: '<%= @article.title %>'</h2>

<div class="well faded-black-bg col-xs-8 col-xs-offset-2">
    <h4>Description:</h4> 
    <hr />
    <p> <%= simple_format(@article.description) %> </p>
    <hr />

    <%= render :partial => "shared/article_actions", :locals => {:article => @article} %>
    <%= render "shared/back_to_articles" %>
</div>