<h1 class="text-center">List of Alpha Bloggers</h1>
  <% @users.each do |user| %>
    <ul class="users-listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4 text-center faded-black-bg">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="user-article">
            <%= link_to user.username, user_path(user) %>
          </li>
            <li>
              <small> <%= pluralize(user.articles.count, "article") if user.articles %> </small>
            </li>
        </div>
      </div>
    </ul>
  <% end %>