<footer class="footer faded-black-bg">
	<small>
		<nav>
			<%= link_to "Home", root_path %> |
			<%= link_to "About", about_path %> |
			<%= link_to "Blog", articles_path %>
		</nav>
	</small>
	<small>
		<p>Copyright &copy; Bagongo</p>
	</small>
</footer> 