@import "bootstrap-sprockets";
@import "bootstrap";

.nomargin{
    margin:0;
}

.nopadding{
    padding: 0;
}

.faded-white-bg{
	background-color: transparent;
	background-color: rgba(255, 255, 255, 0.1);
}

.faded-black-bg{
	background-color: black;
    background-color: rgba(0, 0, 0, .7);
}

.color-red{
    color: red;
}

html, body{
    height: 100%;
}

body{
	background-image: url("alpha_bg.jpg");
    padding: 75px 0 0 0;
}

.container{
	color: white;
}

.footer-container{
    margin: 0;
    padding: 0;
}

footer {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    top: calc(100% - 100px);
    margin: 50px 0 0 0;
    background-color: black;
}



