body{
	margin: 0;
	background-image: url(alpha_bg.jpg);
	color: white
}

.flex-container{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.main-msg-box{
	width: 450px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-top: 100px;
	color: black;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.boxes-container{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.msg-box{
	width: 200px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	margin-top: 100px;
	font-size: .8em;
	color: black;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.msg-box > p{
	align-self: flex-start;
} 

