body{
	margin: 0;
	background-image: url(alpha_bg.jpg);
	color: white
}

.flex-container{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.topnav {
	width: 100%;
	display: flex;
	justify-content: flex-start;
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 4px solid transparent;
}

.topnav a:hover {
    border-bottom: 4px solid lightgray;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav > p{
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 10px;
	color: #333;
    background-color: #f2f2f2;
    font-size: 1.5em;
    border-bottom: 4px solid transparent;
}

.main-msg-box{
	width: 450px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-top: 100px;
	color: black;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.boxes-container{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.msg-box{
	width: 200px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	margin-top: 100px;
	font-size: .8em;
	color: black;
    background-color: #f2f2f2;
    opacity: 0.8;
}

.msg-box > p{
	align-self: flex-start;
} 

